<h1>Programming concepts</h1>

<h3>Comparison Operators</h3>
<p>
  2 is greater than 3 - (2>3) - {{ compare }}
</p>
<p> 2 is not equal to 1 - (2!=1) - {{ notEqual }} </p>

<h4>Simple Equal to</h4>
<p>
  '2' is equal to 2 - ('2' == 2) - {{ equal }}
</p>

<h4>Strict Equal to</h4>
<p>'2' is euqal to 2 - ('2' === 2) -  {{ strictEqual }}</p>

<h4>Strict No Equal to</h4>
<p>'2' is not strict equal to 2 - ('2' !== 2) - {{ strictNotEqual }}</p>

<h3>Logical Operators</h3>

<h4>AND (&&)</h4>
<p>Visa Office - Passport and license required - (passport && license) - {{ visaOffice }}</p>

<h4>OR (||)</h4>
<p>Voting center - either passport or license required - (passport || license) - {{ votingCenter }}</p>

<h4>NOT ( ! )</h4>
<p [hidden]="!show" >Sorry! Your password or username failed.</p>

<h3>Assignment Operator</h3>
<p> a += b ??  (what does += mean in assignment?)</p>
