<div class="container">
  <h1>My Tasks</h1>

  <div class="addNewTaskContainer">
    <input type="text" class="form-control" [(ngModel)]="newTask">
    <button class="btn btn-primary mt-3" (click)="addNewTask()">Add Task</button>
  </div>

  <ul class="tasks mt-5">
    <li (dblclick)="deleteTask(i)"
        *ngFor="let thisTask of tasks; let i = index; "
        class="task d-flex"
        [class.complete]="thisTask.isComplete">
            <input type="checkbox" class="form-check-input"
            (click)="changeCompleteStatus($event, i)" [id]=" 'task' + thisTask.id ">
                <label [for]=" 'task' + thisTask.id" [class.complete]="thisTask.isComplete">{{ thisTask.taskTitle }}</label>
    </li>
  </ul>
</div>

