<div class="container">
  <h1>Students List</h1>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Is Virtual?</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      @for(student of studentsLocalArray; track student.ID){
        <tr>
          <td>{{ student.ID }}</td>
          <td>{{ student.StudentName }}</td>
          <td><a [href]=" 'mailto:' + student.StudentEmail">{{ student.StudentEmail }}</a></td>
          <td>
            @if(student.IsVirtual){
              <span class="virtualYes">Yes</span>
            }

            @else {
              <span class="virtualNo">No</span>
            }
          </td>
          <td>{{ student.CityName }}</td>
        </tr>
      }

    </tbody>
  </table>
</div>
